


:root{
    --background-color: grey;
    --hero-background-color: rgba(68, 124, 207, 0.808) ;
    --font-color:white;
    
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family:"Arial","Verdana","Gill Sans", "Noto Sans",sans-serif;
    width:100%;
    font-size: 18px;
    background-color: rgba(60, 106, 204, 0.815);
}

main{
    width: 50%;
    overflow: hidden;
}

header{
        align-items:flex-end;
        color: black;
      
        


}

header nav ul{
    flex-wrap:wrap;
    display:flex;
    align-items:center;
    list-style:none ;
}
    
header nav ul li a{
    padding:10px;
    color:black;
    text-decoration: none;
}

nav ul li a:hover {
    color:black
}

h1{
    color: black;
    position: absolute;
    padding: 100px;
    top: 50% ;
    left: 25%;
    font-size: 100px;
    ;
    
}
p{
    text-align: center;
}
h3{
    color:white;
    padding: 20px;

}

h4{
    color:white;
    flex-wrap: wrap;
    padding: 20px;
}

.information-body ul li{
    list-style: none;
    text-align: center;
}
.back{
    position: relative;
    justify-content: center;
    align-items: center;

}

\


